/**
 * Table of Contents
 *
 * 1.0 - AdminLTE
 * 2.0 - Elements
 * 3.0 - Box
 * 4.0 - Treeview
 */


/**
 * 1.0 - AdminLTE
 */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body > .header .logo {
  font-family: inherit;
}
body > .header .navbar .nav > li > a > .badge {
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 75%;
}
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  background: none;
  color: inherit;
}
body .user-panel > .info {
  padding-left: 10px;
}


/**
 * 2.0 - Elements
 */
.content-wrapper.loading:before {
  content: "\f110"; display: inline-block; 
  font-family: FontAwesome; font-feature-settings: normal; font-kerning: auto; 
  font-language-override: normal; font-size: 3em; font-size-adjust: none; 
  font-stretch: normal; font-style: normal; font-synthesis: weight style; 
  font-variant: normal; font-weight: normal; line-height: 1; text-align: center; 
  padding: 15px 0; -webkit-animation: fa-spin 1s infinite steps(8); 
  animation: fa-spin 1s infinite steps(8);
  
  left: 48%;
  position: fixed;
  top: 48%;
  z-index: 1;
}

.modal-body.loading { min-height: 80px; position: relative; }
.modal-body.loading:before {
  content: "\f110"; display: inline-block; 
  font-family: FontAwesome; font-feature-settings: normal; font-kerning: auto; 
  font-language-override: normal; font-size: 3em; font-size-adjust: none; 
  font-stretch: normal; font-style: normal; font-synthesis: weight style; 
  font-variant: normal; font-weight: normal; line-height: 1; text-align: center; 
  padding: 15px 0; -webkit-animation: fa-spin 1s infinite steps(8); 
  animation: fa-spin 1s infinite steps(8);
  
  left: 48%;
  position: absolute;
  top: 0;
  z-index: 1;
}

a.asc:after, a.desc:after {
	font-family: "FontAwesome";
	margin-left: 6px;
}

a.desc:after {
	content: "\f107";
}

a.asc:after {
	content: "\f106";
}

.grid-view .summary { margin-bottom: 10px }

.select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus {
  border: medium none;
}


/* 
 * 3.0 Box
 */

.box-tools .dropdown-toggle {
  cursor: pointer;
}


/* 
 * 4.0 treeview
 */

.tree,
.tree ul {
  margin:0 0 0 1em; /* indentation */
  padding:0;
  list-style:none;
  color:#369;
  position:relative;
}

.tree ul {margin-left:.5em} /* (indentation/2) */

.tree:before,
.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.tree li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  line-height:2em; /* default list item's `line-height` */
  font-weight:bold;
  position:relative;
}

.tree li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.tree li:last-child:before {
  background:white; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}